{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans "Register for the NMD" %}{% endblock %}

{% block extra_head %}{% include "partials/_location_head.html" %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with year=contest.year %}Register for NMD {{ year }}{% endblocktrans %}</h1>

    <p>
        {% blocktrans with date=contest.contest_date %}
            The contest takes place on {{ date }}, 06:00–09:59 UTC.
        {% endblocktrans %}
    </p>

    <form method="post" novalidate class="reg-form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="form-errors">{{ form.non_field_errors }}</div>
        {% endif %}

        <fieldset>
            <legend>{% trans "Operator" %}</legend>
            {% include "registration/_field.html" with field=form.callsign %}
            {% include "registration/_field.html" with field=form.first_name %}
            {% include "registration/_field.html" with field=form.email %}
        </fieldset>

        {% include "partials/_location_fieldset.html" %}

        <fieldset>
            <legend>{% trans "Station type" %}</legend>
            {% include "registration/_field.html" with field=form.multi_op %}
            {% include "registration/_field.html" with field=form.station_chief %}
        </fieldset>

        <fieldset>
            <legend>{% trans "Operating modes" %}</legend>
            {% include "registration/_field.html" with field=form.mode_cw %}
            {% include "registration/_field.html" with field=form.mode_ssb %}
        </fieldset>

        <fieldset>
            <legend>{% trans "Other" %}</legend>
            {% include "registration/_field.html" with field=form.remarks %}
        </fieldset>

        {% include "registration/_qrb_warning.html" %}

        <button type="submit">{% trans "Submit registration" %}</button>
    </form>
{% endblock %}

{% block extra_scripts %}
    {% include "partials/_location_scripts.html" %}
    {% include "partials/_station_chief_toggle.html" %}
{% endblock %}
