{% load i18n %}
<table class="ranking">
    <thead>
        <tr>
            <th class="num" rowspan="2">{% trans "Rank" %}</th>
            <th rowspan="2">{% trans "Callsign" %}</th>
            <th rowspan="2">{% trans "Location" %}</th>
            <th class="num" rowspan="2">{% trans "Altitude (m)" %}</th>
            <th colspan="4" style="text-align: center;">{% trans "QSO" %}</th>
            <th class="num" rowspan="2">{% trans "Points" %}</th>
        </tr>
        <tr>
            <th class="num">{% trans "NMD" %}</th>
            <th class="num">{% trans "HB" %}</th>
            <th class="num">{% trans "EU" %}</th>
            <th class="num">{% trans "Total" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for r in rows %}
            <tr>
                <td class="num">{{ r.rank }}</td>
                <td>{{ r.callsign }}</td>
                <td>{{ r.location_text }}</td>
                <td class="num">{{ r.altitude_m }}</td>
                <td class="num">{{ r.nmd_qsos }}</td>
                <td class="num">{{ r.hb_qsos }}</td>
                <td class="num">{{ r.eu_qsos }}</td>
                <td class="num">{{ r.total_qsos }}</td>
                <td class="num">{{ r.points }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="9">{% trans "No participants." %}</td></tr>
        {% endfor %}
    </tbody>
</table>
